main {
  position: relative;
  padding-top: 390px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal-image {
  position: absolute;
  min-width: 100%;
  top: 0px;
  left: -80px;
}

.partners-division {
  display: flex;
  gap: 14px;
}


